{% extends 'main.html' %}
{% block context %}
    {% block title %}<title>Profile</title>{% endblock title %}
    <div class="card" style="width: 600px; padding: 2px 2px; border:1px solid rgb(100, 100, 100);display: block;margin-left: auto;margin-right: auto;">
        <img class="card-img-top" style="width: 594px; border-radius: 4px;" src="{{user.profile.image.url}}" alt="Card image cap">
        <form method="POST" enctype="multipart/form-data">
            <div>
                {% csrf_token %}
                <h1 style="font-size: 20px">Username:</h1>
                {{u_form.username}}
                <h1 style="font-size: 20px">Email:</h1>
                {{u_form.email}}
                <div>
                    {{p_form.image}}
                <div>
            </div>
            <div>
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock context %}