* {
  box-sizing: border-box;
}

.ulist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(29, 28, 28);
}

.list {
  float: right;
  border-left:0.5px solid #bbb;
  border-right:0.5px solid #bbb;
}

.list:last-child {
  border-right: none;
}

.list a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 100px;
  text-decoration: none;
}

.list a:hover:not(.active) {
  background-color: #111;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #15af3c;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input, select {
  /* width: 100%; */
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-radius:10px;
  /* text-align: center; */
}

input[type=submit] {
  width: 100%;
  background-color: #15af3c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
  
  /* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: inline-block;
}




