{% extends 'main.html' %}
{% block context %}
    <h1 style="text-align: center">Welcome <strong class='main-color'>{{user}}</strong></h1>
    <section class="container">
        {% for picture in page_obj %}
        <div class = "column">
            <a href="{% url 'detail' picture.id%}" target = "_blank"><img src="{{picture.image.url}}" width="500px" alt="failure" style='width:100%'></a>
        </div>
        {% endfor %}
    </section>
    <section>
        <div class="pagination" >
            <span class="step-links footer">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </section>
{% endblock context%}